__pycache__/
*.pyc
venv/
.venv/
.env

#
FASE 1 — Base del Sistema (✅ Casi terminada)
Inventario
 Registrar equipos
 Categorías
 Marcas
 Modelos
 Stock
 SKU / Serie
 MAC
 Observaciones
Personal
 Registrar personal
 Registrar cargos
Ubicaciones
 Registrar edificios
Guías
 Crear guía
 Agregar múltiples productos
 Guardar guía
 Ver guía
 Editar guía
 Eliminar guía
 Descuento automático de stock


FASE 2 — PDF Profesional (Siguiente)
Objetivo:
Generar una guía real de almacén.
Paso 2.1
PDF básico
 Número de guía
 Fecha
 Solicitante
 Destino
 Productos
 Observaciones
Paso 2.2
Formato empresarial
 Logo empresa
 Encabezado corporativo
 GS-000001
 Firmas
Paso 2.3
Información avanzada
 Cargo
 Proyecto
 Entregado por
 Recibido por
 Aprobado por


FASE 3 — Historial de Movimientos
Objetivo:
Saber todo lo que ocurrió con un equipo.
Crear tabla:
CREATE TABLE movimientos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    equipo_id INTEGER,
    tipo TEXT,
    cantidad INTEGER,
    fecha TIMESTAMP,
    usuario TEXT,
    observaciones TEXT
)
Tipos:
INGRESO
SALIDA
DEVOLUCION
BAJA
TRANSFERENCIA


FASE 4 — Devoluciones
Muy importante para CCTV.
Ejemplo:
Juan Pérez recibió:
2 cámaras
1 switch
Devuelve:
1 cámara
El sistema:
Aumenta stock
Registra movimiento
Actualiza guía


FASE 5 — Activos Fijos
Para:
Laptops
Switches
APs
Servidores
Cámaras instaladas
NVR
Agregar:
estado_activo
fecha_compra
garantia
ubicacion_actual


FASE 6 — Dashboard Real
Actualmente tienes dashboard básico.
Luego:
Tarjetas
Stock total
Equipos instalados
Equipos prestados
Equipos en almacén
Gráficos
Ingresos por mes
Salidas por mes
Top productos


FASE 7 — Alertas
Ejemplo:
AP505 = 2 unidades
Stock mínimo:
5 unidades
Mostrar:
⚠ Stock bajo


FASE 8 — Usuarios y Login
Tabla:
usuarios
Roles:
Administrador
Almacén
Técnico
Supervisor


FASE 9 — Inventario por Proyectos
Muy útil para tu empresa.
Ejemplo:
BBVA San Isidro
Asignar:
20 cámaras
2 switches
1 NVR
Ver:
Todo lo que tiene instalado el proyecto.


FASE 10 — ERP Completo
Integrar:
Inventario
Guías
Personal
Proyectos
Compras
Proveedores
Reportes
PDF
#__pycache__/
__pycache__/
